* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: ;
}

#section-one {
    background-color: #1F2937;
    height: 85vh;
    color: #fff;
}

/* navbar section*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

nav a {
    color: #E5E7EB;
    text-decoration: none;
    margin: 8px;
    font-size: 18px;
}

/*Hero section*/
#hero {
    display: flex;
}

section {
    width: 400px;
    height: 200px;
    border: 1px solid #FFF;
    font-size: 48px;
}

section p {
    font-size: 18px #E5E7EB;
}